body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blockBtn{
  margin: auto;


  display: flex;
  flex-direction: row;

  margin-bottom: 2rem;
}

.btn{
  height: 91px;
  width: 393px;

  padding: 48px;
  margin-left: 40px;
  margin-right: 40px;

  font-size: 16px;
  font-weight: 500;

  border-radius: 16px;

  color: white;

  display: flex;
  justify-content: space-around;

  align-items: center;

  position: relative;

  transition: transform 1s cubic-bezier(0, -0.3, 0.5, 1.3) 500ms;

  z-index: 0;
}

#outer{
  background: #ffffff;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s cubic-bezier(0, -0.3, 0.5, 1.3) 500ms;
}

.btn:hover{
  transform: scale(1.05);
}

#outer:hover{
  opacity: 0.88;
}

.btn:active{
  transform: scale(0.95);
}

#outer:active{
  opacity: 0.8;
}

.btn:focus{
  border: 3px solid white;
  outline: 3px solid dodgerblue;
}

.disabled{
  opacity: 64%;
}

#divLoad{
  display: none;
  margin: auto;
}

#load > img{
  height: 100%;
  animation: Rotate 2s linear 0.1s infinite;
}

@keyframes Rotate {
  from {transform: rotate(-360deg);}
}


.label{
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  line-clamp: 1; 
  -webkit-box-orient: vertical;

  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  z-index: 2;
}


.counter{
  z-index:2;
}